@inject Microsoft.AspNetCore.Identity.SignInManager<User> Manager
@inject ProfileViewModel vm

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Scroll reveal CDN-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Our styles -->
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/loader.css" />
    <link rel="stylesheet" href="~/css/profilestyles.css" />
</head>
<body>
    <partial name="_BusyIndicatorPartial" />

    <header>
        <div class="container">
            <nav class="nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="friends-list"><i class="fas fa-users"></i></span>
                    <a href="@Url.Action("MyProfile", "Account")"><i class="fas fa-user"></i></a> 


                    <!-- Friend Request -->
                    <div class="friends-modal">
                        <div class="friends-modal-container">
                            <div class="close">&times;</div>
                            <br />

                            <div class="friends-modal-content">
                              
                                @if (vm.CurrentUser != null && vm.FriendRequests != null && vm.FriendRequests.Count > 0)
                                {
                                    foreach (var item in vm.FriendRequests)
                                    {
                                        <a asp-action="UserProfile" asp-route-id="@item.Id" class="friend-link">@item.FirstName @item.LastName</a>
                                        <a data-toggle="tooltip" title="Acceptera" asp-action="AcceptFriendRequest" asp-route-userRequestingId="@item.Id"><i class="fas fa-thumbs-up"></i></a>
                                        <a data-toggle="tooltip" title="Neka, ni kommer inte matchas igen" asp-action="DenyFriendRequest" asp-route-userRequestingId="@item.Id"><i class="fas fa-thumbs-down"></i></a>
                                        <a data-toggle="Ta bort förfrågan" asp-action="RemoveFriend" asp-route-userToRemoveId="@item.Id"><i class="fas fa-undo-alt"></i></a>
                                        <br /><hr />
                                    }
                                }
                                else
                                {
                                    <p>Du har inga vänförfrågningar!</p>
                                }

                            </div>
               
                            
                        </div>
                    </div>
                }

                else
                {
                  <a href="@Url.Action("Login", "Account")"><i class="fas fa-user"></i></a>
                }
                  <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
            <a href="@Url.Action("Index", "Account")" class="logo">
                <img src="~/images/dateland-logo-white.png" alt="">
            </a> }
                        else
                        {
            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/images/dateland-logo-white.png" alt="">
            </a>}
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Hem", "Index", "Home")>Hem</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
            <li class="nav-item">
                <a href="@Url.Action("Logout", "Account")" class="nav-link">Logga ut</a>
            </li>
 }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action("Login", "Account")" class="nav-link">Logga in</a>
            </li>
}
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/loader.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
