@model ProfileViewModel

@{ ViewData["Title"] = "Signed In";
    var age = DateTime.UtcNow.Year - Convert.ToDateTime(Model.SelectedUser.DateOfBirth).Year; }

<!-- Header ends -->
<section class="potential-partners">
    <div class="container">
        <div class="global-headline">
            <h1 class="headline headline-dark">Dina</h1>
            <h2 class="sub-headline">
                <span class="first-letter">M</span>atchningar
            </h2>
            <div class="asterisk"><i class="fas fa-heart"></i></div>
        </div>

        <div class="si-main-row">
            <div class="si-main-col">

                @if (Model.MatchedUsers != null && Model.MatchedUsers.Count > 0)
                {
                    <div class="si-row-inner">
                        @foreach(var obj in Model.MatchedUsers)
                        {
                            <div class="sub-col-3">
                                <a asp-route-selectedUserId="@obj.Key.Id" asp-action="Index"><img asp-append-version="true" class="si-img" src="@Url.Content(obj.Key.ProfilePictureUrl)" /></a>
                            </div>}
                    </div>}
                else { }

                <a asp-action="GenerateMatches" asp-route-userId="@Model.CurrentUser.Id" class="btn cta-btn-dark si-randomize-btn">Slumpa nya matchningar!</a>

            </div>

            <div class="si-main-col">
                <div class="si-row-inner">
                    <div class="vertical-separator"></div>

                    <div class="chosen-container">

                        @if (Model.MatchedUsers != null && Model.MatchedUsers.Count() > 0)
                        {
                            if (Model.SelectedUser.FirstName == null)
                            {
                                Model.SelectedUser = Model.MatchedUsers.FirstOrDefault().Key;
                            }

                            <div class="chosen-header">
                                <img class="si-img-chosen" src="@Url.Content(Model.SelectedUser.ProfilePictureUrl)" />

                                <div class="name-and-btns">
                                    <span class="ca-btn plane"><i class="far fa-paper-plane"></i></span>
                                    <a asp-action="SendFriendRequest" asp-route-id="@Model.SelectedUser.Id" class="ca-btn plus"><i class="far fa-plus-square"></i></a>

                                    <h2>
                                        @Model.SelectedUser.FirstName @Model.SelectedUser.LastName
                                        <br /><span class="chosen-subheader">@age år, @Model.City</span>
                                    </h2>

                                    <span class="dot"></span>
                                </div>

                            </div>}
                        else { }

                        <div class="chosen-body">
                            <ul>

                                @foreach(var parameter in Model.MatchedUsers.FirstOrDefault(u => u.Key.UserName == Model.SelectedUser.UserName).Value??new List<string>())
                                {
                                    <li><span class="match"><i class="fas fa-check-square"></i></span>@parameter</li>
                                }

                            </ul>

                            <hr class="chosen-body" />

                            <div class="go-to-profile">
                                <a asp-action="UserProfile" asp-route-id="@Model.SelectedUser.Id">Gå till profil<span class="ca-btn"><i class="fa fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>