@model SignedInViewModel

@{
    ViewData["Title"] = "Signed In";
}

<!-- Header ends -->

<section class="potential-partners">
    <div class="container">
        <div class="global-headline">
            <h1 class="headline headline-dark">Dina</h1>
            <h2 class="sub-headline">
                <span class="first-letter">M</span>atchningar
            </h2>
            <div class="asterisk"><i class="fas fa-heart"></i></div>
        </div>

        <div class="si-main-row">
            <div class="si-main-col">

                @if (Model.MatchedUsers != null && Model.MatchedUsers.Count > 0)
                {
                    <div class="si-row-inner">
                        <div class="sub-col-3">
                            <a asp-route-id="0" asp-action="UpdateSelectedUser"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                            <a asp-route-id="1" asp-action="UpdateSelectedUser"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                        </div>
                        <div class="sub-col-3">
                            <a href="#"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                            <a href="#"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                        </div>
                        <div class="sub-col-3">
                            <a href="#"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                            <a href="#"><img asp-append-version="true" class="si-img" src="@Url.Content(Model.MatchedUsers[0].ProfilePictureUrl)" /></a>
                        </div>

                        <a href="#" class="btn cta-btn-dark si-randomize-btn">Slumpa nya matchningar!</a>
                    </div>
                }
                else { }

            </div>

            <div class="si-main-col">
                <div class="si-row-inner">
                    <div class="vertical-separator"></div>

                    <div class="chosen-container">

                        @if (Model.MatchedUsers != null && Model.MatchedUsers.Count() > 0)
                        {
                            <div class="chosen-header">
                                <img class="si-img-chosen" src="@Url.Content(Model.MatchedUsers[Model.SelectedUser].ProfilePictureUrl)" />

                                <div class="name-and-btns">
                                    <span class="ca-btn plane"><i class="far fa-paper-plane"></i></span>
                                    <span class="ca-btn plus"><i class="far fa-plus-square"></i></span>

                                    <h2>
                                        @Model.MatchedUsers[Model.SelectedUser].FirstName  @Model.MatchedUsers[Model.SelectedUser].LastName
                                        <br /><span class="chosen-subheader">29 år, Stockholm</span>
                                    </h2>

                                    <span class="dot"></span>
                                </div>

                            </div>
                        }
                        else { }

                        <div class="chosen-body">
                            <ul>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                                <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                            </ul>

                            <hr class="chosen-body" />

                            <div class="go-to-profile">
                                <a href="#">Gå till profil<span class="ca-btn"><i class="fa fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>