@model User
@inject ProfileViewModel pvm
@inject MyProfileViewModel vm

@{ // Set up the profile
                await vm.SetupMyProfile();

                var UserMovie = ""; }

<section class="myProfile">
    <div class="container">
        <div class="info">
            <div class="description padding-right animate-left">
                <div class="global-headline">
                    <h1 class="headline headline-dark">Allmänt</h1>
                    <img src="@Model.ProfilePictureUrl" alt="" class="si-img-chosen" />
                    <div class="asterisk"><i class="fas fa-heart"></i></div>
                </div>
                <form method="post">

                    <div class="form-group profile-form">
                        <input class="form-control" asp-for="@Model.FirstName" />
                    </div>

                    <div class="form-group profile-form">
                        <input class="form-control" asp-for="@Model.LastName" />
                    </div>

                    <div class="form-group profile-form">
                        <input class="form-control" asp-for="@Model.DateOfBirth" />
                    </div>

                    <div class="form-group profile-form">
                        <input class="form-control" asp-for="@Model.Description" height="100" />
                    </div>

                    <div class="form-group profile-form">
                        <input type="submit" asp-route-id="@Model.Id" asp-action="SaveChanges" asp-controller="Account" class="btn cta-btn-dark" value="Spara">
                    </div>

                </form>
            </div>

            <!-- Höger sida -->
            <div class="animate-right">
                <div class="global-headline">
                    <h1 class="headline headline-dark">Mina favoriter</h1>
                </div>
                <form method="post">

                    <div class="form-group profile-form">
                        <label for="1">Favoritmat</label>
                        <select class="form-control" id="foodlist" onchange="updateSelFood()">
                            @foreach (var food in vm.Foods)
                            {
                                if (food.FoodName.Equals("None"))
                                    continue;
                                else if (food.FoodName.Equals(Model.Food.FoodName) && Model.Food != null)
                                {
                <option selected>@food.FoodName</option> }
                                else
                                {
                <option>@food.FoodName</option>}
                            };
                        </select>
                    </div>

                    <div class="form-group profile-form">
                        <label for="1">Favoritmusik</label>
                        <select class="form-control" id="musiclist" onchange="updateSelMusic()">
                            @foreach (var music in vm.Musics)
                            {
                                if (music.MusicGenre.Equals("None"))
                                    continue;
                                else if (music.MusicGenre.Equals(Model.Music.MusicGenre) && Model.Music != null)
                                {
                <option selected>@music.MusicGenre</option> }
                                else
                                {
                <option>@music.MusicGenre</option>}
                            };
                        </select>
                    </div>

                    <div class="form-group profile-form">
                        <label for="1">Favoritfilm</label>
                        <select class="form-control" id="movielist" onchange="updateSelMovie()">

                            @foreach (var movie in vm.Movies)
                            {
                                if (movie.MovieName.Equals("None"))
                                {
                                    continue;
                                }
                                else if(movie.MovieName.Equals(Model.Movie.MovieName) && Model.Movie != null)
                                {
                                    <option selected>@movie.MovieName</option>
                                }
                                else
                                {
                                    <option>@movie.MovieName</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="form-group profile-form">
                        <input type="submit" asp-route-id="@Model.Id"asp-action="SaveFavorites"
                               asp-controller="Account" class="btn cta-btn-dark" value="Spara">
                    </div>

                </form>

                <div class="global-headline">
                    <h1 class="headline headline-dark">Mina intressen</h1>
                </div>
                <form method="post">

                    <div class="interest-list">

                        @for (int i = 0; i < vm.Interests.Count; i++)
                        {
                            if (vm.Interests[i].InterestName.Equals("None"))
                            {
                                continue;
                            }
                            else if (Model.UserInterests.Any(x => x.Interest.InterestName.Equals(vm.Interests[i].InterestName)))
                            {
                <div class="form-group profile-form">
                    <input type="checkbox" id="interest" checked onchange="updateInterests(@vm.Interests[i].InterestID)">
                    <label for="interest">@vm.Interests[i].InterestName</label>
                </div> }
            else
            {
                <div class="form-group profile-form">
                    <input type="checkbox" id="interest" onchange="updateInterests(@vm.Interests[i].InterestID)">
                    <label for="interest">@vm.Interests[i].InterestName</label>
                </div>}
        }

                    </div>

                    <div class="form-group profile-form">
                        <input type="submit" asp-route-id="@Model.Id" asp-action="SaveInterests"
                               asp-controller="Account" class="btn cta-btn-dark" value="Spara">
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
